{% extends "base.html" %}

{% load static %}



{% block content %}
<div class="body mb-2">
  <div class="rounded shadow bg-white mb-4 d-flex justify-content-between align-items-center w-100 py-3 px-3">
    <span style="font-size: 25px;">Hello {{request.user}}</span>
    <a style="text-decoration: none; color: black" href="{% url 'logout' %}"><i style="font-size: 20px; cursor: pointer;" class="fa-solid fa-power-off"></i></a>
  </div>
  <h5 class="mb-3 font-weight-bold">TODO APP</h5>
  <form class="rounded bg-white form d-flex mb-4" action="/" method="POST">
      {% csrf_token %}
      {{form.title}}
      <button data-aos="fade-right" class="ml-2" type="submit"> Add </button>
  </form>
  {% for task in tasks %}
      <!-- {% if task.complete == True %} -->
      <!-- <br> -->
      <!-- {% else %} -->
      <div class="rounded bg-white mt-2 tasks d-flex justify-content-between align-items-center">
        <span>{{task}}</span>
        <div class="d-flex">
          <a class="mr-2" href="{% url 'complete' task.id %}"><button><i class="fa-solid fa-circle-check"></i></button></a>
          <a class="mr-2" href="{% url 'delete' task.id %}"><button><i class="fa-solid fa-trash"></i></button></a>
          <a href="{% url 'update' task.id %}"><button><i class="fa-solid fa-pen-to-square"></i></button></a>
        </div>
      </div>
      <!-- {% endif %} -->
  {% endfor %}
  <div class="w-100 mt-5 flex-column completed d-flex justify-content-center align-items-center">
    <h5 class="mb-4">Completed Tasks</h5>
    {% for task in tasks %}
    {% if task.complete == True %}
      <div class="rounded d-flex bg-white align-items-center completed-task mb-2 justify-content-between">
        <span class="span d-flex justify-content-between align-items-center">{{task}}</span>
        <a class="delete" href="{% url 'delete' task.id %}"><button><i class="fa-solid fa-trash"></i></button></a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


<!-- <script>
  dlt = document.querySelector('.delete')
  dlt.addEventListener('click', function(){
    
  })
</script> -->
{% endblock content %}